<div class="container">
			<div class="row">
				<div class="page-header">
				  <h2>Browse among the books!</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<ul class="nav nav-pills nav-justified lsy-pills">
					  <li class="active"><a href="#">Available</a></li>
					  <li><a href="#">Borrowed</a></li>
					  <li><a href="#">Ending Soon</a></li>
					</ul>
				</div>

			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
  						<div class="panel-heading heading-newbooks">Books</div>
					    <div class="panel-body">
							<div class="list-group lsy-group">
							  <a href="#" class="list-group-item">O'Reilly Ember.js</a>
							  <a href="#" class="list-group-item">Web Application with Ruby on Rails</a>
							  <a href="#" class="list-group-item">Clojure Cookbook</a>
							  <a href="#" class="list-group-item">Javascript the good parts</a>
							  <a href="#" class="list-group-item">Developing an Ember.js bleeding edge</a>
							  <a href="#" class="list-group-item">O'Reilly Ember.js</a>
							  <a href="#" class="list-group-item">Web Application with Ruby on Rails</a>
							  <a href="#" class="list-group-item">Clojure Cookbook</a>
							  <a href="#" class="list-group-item">Javascript the good parts</a>
							  <a href="#" class="list-group-item">Developing an Ember.js bleeding edge</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
  						<div class="panel-heading heading-proposals">Book preview</div>
					    <div class="panel-body">
							<div class="thumbnail">
						      <img src="http://ecx.images-amazon.com/images/I/91dwVV3kLPL._SL1500_.jpg" alt="...">
						      <div class="caption">
						        <h3>Developing an Ember.js Edge <small><span class="label label-warning">in stock: 8</span></small></h3>
						        <p>Ember.js is a framework for building ambitious web applications. In more specific terms, it is a collection of libraries, abstractions and conventions for dealing with the common challenges of building web applications.

								This book will take the reader from a casual interest in Ember.js through to building a complete application. Along the way we’ll cover the current state of client-side web development, the history and evolution of Ember, and the projects and challenges that have informed its design. Then we’ll dig deep into each of Ember’s constituent component libraries, demonstrating how each operates on its own and how they work together harmoniously as a framework.

								Developing an Ember.js Edge is authored by a group of programmers from around the world who have been building applications with Ember in some from or another for the last two years. They all use Ember.js to build real production applications and have watched (and contributed) keenly as the framework has grown into its current state of maturity and stability.
								</p>
						        <p><a href="#" class="lsy-btn rent-a-btn" role="button">Borrow this book</a></p>
						        <div class="clear"></div>
						      </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>