<div class="container">
			<div class="row">
				<div class="jumbotron lsy-jumbotron-success">
					<div class="white-wrapper">
						<div class="media">
						  <a class="pull-left" href="#">
						    <img class="media-object" ng-src={{thebook.description.imageUrl}} width="200px" alt="...">
						  </a>
						  <div class="media-body">
						    <h1>{{thebook.description.title}}</h1>
					  		<hr/>
					  		<p>You can pick up your book from the second floor. Call this number or send an email to here and there.</p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>