<div class="container">
			<div class="row">
				<div class="jumbotron lsy-jumbotron">
					<div class="grey-wrapper">
					  <h1>Hello, User!</h1>
					  <p> </p>
					  <p>Welcome to Lufthansa System's Library App. You can borrow books from the library and suggest new ones or vote on others' suggestions.</p>
					  <p> Are you a reader <a class="btn btn-primary btn-lg lsy-btn-admin" role="button">User</a> or a librarian <a class="btn btn-primary btn-lg lsy-btn-user" role="button">Admin</a>?</p>
					</div>
				</div>
			</div>
		</div>