		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-default">
  						<div class="panel-heading heading-proposals">Your successful proposal</div>
					    <div class="panel-body">
					    	<h2>Thank you for your proposal!</h2>
					    	<hr/>
							<div class="thumbnail">
						      <img src="http://ecx.images-amazon.com/images/I/91dwVV3kLPL._SL1500_.jpg" alt="..." width="500">
						      <div class="caption">
						        <h2>Developing an Ember.js Edge </h2>
						        <p>Ember.js is a framework for building ambitious web applications. In more specific terms, it is a collection of libraries, abstractions and conventions for dealing with the common challenges of building web applications.

								This book will take the reader from a casual interest in Ember.js through to building a complete application. Along the way we’ll cover the current state of client-side web development, the history and evolution of Ember, and the projects and challenges that have informed its design. Then we’ll dig deep into each of Ember’s constituent component libraries, demonstrating how each operates on its own and how they work together harmoniously as a framework.

								Developing an Ember.js Edge is authored by a group of programmers from around the world who have been building applications with Ember in some from or another for the last two years. They all use Ember.js to build real production applications and have watched (and contributed) keenly as the framework has grown into its current state of maturity and stability.
								</p>
						        <div class="clear"></div>
						      </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>