<div class="container">
			<div class="row">
				<div class="page-header">
				  <h2>Propose some new books for the library!</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default proposals-panel">
  						<div class="panel-heading heading-proposals">Proposals</div>
					    <div class="panel-body">
							<div class="list-group lsy-group">
							  <li ng-repeat="proposal in proposals | orderBy: 'created-at'" class="list-group-item">
							  	<a class="lsy-btn" ng-click="VoteUp($event, proposal.key, proposal.vote)">Vote me up!</a>
							  	<div class="media">
								  <a class="pull-left" href="#">
								    <img class="media-object" ng-src="{{proposal.description.imageUrl}}" alt="..." width="60">
								  </a>
								  <a href="#/proposals/{{proposal.key}}" <h4 class="media-heading">{{proposal.description.title}}</h4></a>
								  <br/>
								  <span class="label label-primary">voted by {{proposal.vote}} people</span>
								  <div class="media-body" bind-html-unsafe="proposal.description.shortDesc | limitTo: 200">

								  </div>
								</div>
							  </li>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
  						<div class="panel-heading heading-proposals">New proposal</div>
					    <div class="panel-body">
					    		<img src="images/open_book_on_tabl_450.jpg" alt="">
					    		<p>If you would like to propose any book for the library. You just need to enter the ISBN number of the book and click on the Propose it! button and we will get the details of the book for you.</p>
					    	    <div class="input-group">
							      <span class="input-group-btn">
							        <button class="btn btn-default lsy-propose-button" ng-click="submitIsbn($event, isbnNumber)" type="button">Propose it!</button>
							      </span>
							      <input type="text" class="form-control" placeholder="ISBN number" ng-model="isbnNumber">
							    </div><!-- /input-group -->
						</div>
					</div>
				</div>
			</div>
		</div>