		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-default proposal-preview">
  						<div class="panel-heading heading-proposals">Recommended book</div>
					    <div class="panel-body">
							<div class="thumbnail">
						      <img ng-src="{{proposal.description.imageUrl}}" alt="..." width="500">
						      <div class="caption">
						        <h3>{{proposal.description.author}} : {{proposal.description.title}} </h3>
						        <p bind-html-unsafe="proposal.description.shortDesc"></p>
						        <div class="clear"></div>
						        <div class="admin-section">
						        	<p>Purchase this book and add it to the library.</p>
						        	<div class="input-group">
									  <input type="text" class="form-control" ng-model="quantity">
									  <span class="input-group-addon">pieces</span>
									</div>
									<button class="btn btn-default btn-warning" ng-click="addToStock($event, proposal.key, quantity)" type="button">Add to stock</button>
									<div class="clear"></div>
						        </div>
						      </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>