		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-default">
  						<div class="panel-heading heading-proposals">Your successful proposal</div>
					    <div class="panel-body">
					    	<h2>Thank you for your proposal!</h2>
					    	<hr/>
							<div class="thumbnail">
						      <img ng-src="{{proposal.description.imageUrl}}" alt="..." width="500">
						      <div class="caption">
						        <h3>{{proposal.description.author}} : {{proposal.description.title}} </h3>
						        <p>{{proposal.description.shortDesc}}
								</p>
						        <div class="clear"></div>
						      </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>