* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -75px; /* the bottom margin is the negative value of the footer's height */
}
footer {
	background: url('../images/footer-bg.jpg') repeat-x top;
}
footer, .push {
	height: 75px; /* '.push' must be the same height as 'footer' */
}
.clear {
	clear: both;
	float: none;
}
body {
	background: url('../images/background.jpg') repeat;
}
.main {
	padding-top: 25px;
}
.upper-navbar .navbar-form.navbar-right {
	margin-top: 3px;
}
.upper-navbar .navbar-form .form-control {
    display: inline-block;
    height: 34px;
    margin-top: 3px;
    vertical-align: middle;
    width: auto;
}
.upper-navbar {
	background: #9b9b9b;
	height: 48px;
}
.lower-navbar {
	background: #b1b1b1;
	height: 50px;
}
.lower-navbar ul.nav.navbar-nav > li > a {
	color: #022053;
	font-size: 16px;
	font-weight: bold;
}
.lower-navbar ul.nav.navbar-nav > li > a:hover {
	background: #ffb300;
}
.lower-navbar ul.nav.navbar-nav > li.active a{
	background: #ffb300;
}
/* Buttons */
.lsy-btn {
    background-color:#032f77;
    border: none;
    padding: 5px 10px;
    position:relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight: bold;
    text-decoration:none;
    color:#ffffff;
    background-image: linear-gradient(bottom, rgb(0,31,82) 0%, rgb(5,49,121) 100%);
    box-shadow: inset 0px 1px 0px #06398a, 0px 6px 0px #01183c;
    border-radius: 3px;
}
a.lsy-btn {
	text-decoration: none;
}
a.lsy-btn:hover {
	color: #ffb300;
}
.lsy-btn:active {
    top:7px;
    background-image: linear-gradient(bottom, rgb(0,31,82) 0%, rgb(5,49,121) 0%);
    box-shadow: inset 0px 1px 0px #06398a, inset 0px -1px 0px #01183c;
    color: #ffb300;
    text-shadow: 0px 1px 1px rgba(244,158,38,0.3);
    background: rgb(3,47,119);
}
.lsy-btn::before {
    background-color:#032f77;
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    padding-left:2px;
    padding-right:2px;
    padding-bottom:4px;
    left:-2px;
    top:5px;
    z-index:-1;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #fff;
}

.lsy-btn:active::before {
    top:-2px;
}
.lsy-btn.rent-a-btn {
	float: right;
	font-size: 14px;
	padding: 8px 14px;
}
.lsy-btn.rent-a-btn:active {
	    box-shadow: inset 0px 1px 0px #06398a, inset 0px -1px 0px #01183c;
}
.proposals-panel .lsy-btn {
	float: right;
}
.container .jumbotron.lsy-jumbotron {
	background: url('../images/wallpaper.jpg') center center no-repeat;
	color: white;
	margin-top: 50px;
}
.container .jumbotron.lsy-jumbotron-success {
	background: url('../images/borrowed.jpg') center center no-repeat;
	margin-top: 50px;
}
.container .jumbotron.lsy-jumbotron .grey-wrapper {
	background: rgba(0,0,0,0.7);
	border-radius: 10px;
	padding: 15px;
}
.container .jumbotron.lsy-jumbotron-success .white-wrapper {
	background: rgba(255,255,255,0.7);
	border-radius: 10px;
	color: #333;
	padding: 15px;
}
.jumbotron.lsy-jumbotron-success .white-wrapper hr {
	border: 1px solid  #333;
}
.lsy-btn-admin,
 .lsy-btn-admin:hover,
 .lsy-btn-admin:active {
	background: #ffb300;
	border: none;
	color: #022053;
}
.lsy-btn-user,
.lsy-btn-user:hover,
 .lsy-btn-user:active {
	background: #022053;
	border: none;
	color: #FFFFFF;
}
footer p {
	color: #242424;
	font-style: italic;
	text-align: center;
	padding: 20px 0;
}
.lsy-group.list-group a.list-group-item.active,
.list-group.lsy-group a.list-group-item:hover {
	background: #022053;
	border: 1px solid #022053;
	color: #FFFFFF;
}
.lsy-group.list-group a.list-group-item.active span.badge,
.list-group.lsy-group a.list-group-item:hover span.badge {
	background: #ffb300;
	color: #022053;
}
.panel .panel-heading {
	background: #ffb300;
	color: #022053;
}
.nav.nav-pills.lsy-pills li a {
	color: #333;
}
.nav.nav-pills.lsy-pills li a:active,
.nav.nav-pills.lsy-pills li.active a {
	background: #022053;
	color: #FFFFFF;
}
.nav.nav-pills.lsy-pills li a:hover {
	background: #ffb300;
	color: #022053;
}
.lsy-propose-button {
	background: #ffb300;
	color: #022053;
}
.book-preview .panel-body {
	min-height: 460px;
}
.admin-section {
	background: #9b9b9b;
	border-radius: 5px;
	padding: 15px;
}
.admin-section .btn {
	float: left;
	margin-left: 10px;
}
.admin-section .input-group {
	float: left;
	width: 120px;
}
.book-preview h3,
.proposal-preview h3 {
	font-size: 21px;
}